/* line 1, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  color: white;
}

/* line 9, ../sass/style.scss */
#container {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/style.scss */
.panel {
  height: 100%;
  width: 100%;
}

/* line 19, ../sass/style.scss */
.main-panel {
  width: 100%;
  background: url(../../images/bg/hong-kong-china.jpg) no-repeat;
  background-size: cover;
}

/* colors */
/* line 26, ../sass/style.scss */
.blue {
  background-color: #3883d8;
}

/* line 27, ../sass/style.scss */
.turqoise {
  background-color: #38ced7;
}

/* line 28, ../sass/style.scss */
.brown {
  background-color: #a66f28;
}

/* line 29, ../sass/style.scss */
.bordeaux {
  background-color: #953543;
}

/* line 30, ../sass/style.scss */
.skin {
  background-color: #ed9f4c;
}

/* line 31, ../sass/style.scss */
.black {
  background-color: #000;
}

/* line 32, ../sass/style.scss */
.white {
  background-color: #fff;
}

/* line 33, ../sass/style.scss */
.red {
  background-color: #cf3535;
}

/* line 34, ../sass/style.scss */
.green {
  background-color: #22d659;
}

/* line 35, ../sass/style.scss */
.orange {
  background-color: #ea6300;
}
