html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
    color: white;
}

#container {
    margin: 0;
    padding: 0;
}

.panel {
    height: 100%;
    width: 100%;
}

.main-panel {
    background: url(../../images/bg/hong-kong-china.jpg) no-repeat;
    background-size: cover;
}

/* colors */
.blue { background-color: #3883d8; }
.turqoise { background-color: #38ced7; }
.brown { background-color: #a66f28; }
.bordeaux { background-color: #953543; }
.skin { background-color: #ed9f4c; }
.black { background-color: #000; }
.white { background-color: #fff; }
.red { background-color: #cf3535; }
.green { background-color: #22d659; }
.orange { background-color: #ea6300; }
